<div class="container px-3 pt-4 pb-3">
  <div class="row justify-content-between">
    <!-- Left: Icon + Titel -->
    <div class="col-auto">
      <div class="row align-items-center">
        <div class="col-auto">
          <img src="assets/img/50621467.png" alt="Icon" height="32" />
        </div>
        <div class="col-auto">
          <h1 class="mb-0 fw-semibold">Events</h1>
        </div>
      </div>
    </div>
    <!-- Right: Profil-Icon -->
    <div class="col-auto d-flex align-items-center">
      <img src="assets/user.svg" alt="User Profile" class="mb-0 cursor-pointer" style="height: 2rem;" (click)="goToProfile()" />

    </div>
  </div>
</div>

<div class="container px-3">
  <!-- Tab-Umschalter -->
  <app-toggle-view (tabChanged)="onTabChanged($event)"></app-toggle-view>

  <div class="container my-1">
    <!-- Wenn gefilterte Liste leer ist… -->
    <ng-container *ngIf="filteredEvents.length > 0; else noEventsTpl">
      <div class="row">
        <div
          class="col-12 col-md-6 col-lg-4 p-0"
          *ngFor="let event of filteredEvents"
        >
          <app-event-card [event]="event"></app-event-card>
        </div>
      </div>
    </ng-container>

    <!-- …ansonsten Infotext -->
    <ng-template #noEventsTpl>
      <div class="text-center py-5 text-muted">
        <p *ngIf="selectedTab === 0">Es stehen keine Events an</p>
        <p *ngIf="selectedTab === 1">Du hast keine Event-Tickets gebucht</p>
      </div>
    </ng-template>
  </div>
</div>
