<div class="container py-4">
    <app-page-header [text]="'Impressum'"></app-page-header>
    <p class="text m-4">
        Studierendenvertretung (StuV) der DHBW Heilbronn <br>
        <a href="https://maps.app.goo.gl/EWZB3MVL6quePFSG7" target="_blank">Bildungscampus 4 <br>
        74076 Heilbronn <br></a>
        Deutschland <br>
        E-Mail: sprecher&commat;stuv-heilbronn.de <br>
        Internet: <a href="https://www.heilbronn.dhbw.de/dhbw-heilbronn/wir-ueber-uns/organisation-gremien/studierendenvertretung/" target="_blank">Studierendenvertretung DHBW Heilbronn</a>
    </p>
</div>
